body{
    font-family: Arial, Helvetica, sans-serif;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
}
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
/* position static é a posicao inicial dele, sempre no canto da pagina */
/* position relative ele é relativo a posicao dele, porem ele ainda obdece o ponto inicial */
/* position absolute ele fica com o ponto absoluto á alguma referencia que ele pertence, tanto o nav ou o main */
nav li{
    display: inline;
    /* margin: top, right, bottom, left */
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0 ;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    /* box-sizing: border-box faz com que o tamando do elemento sempre seja o width definido fazendo com que o padding nao comprometa no tamanho */
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.produtos li:hover{
    border-color: #c78c19;
}
.produtos li:active{
    border-color: #008c19;
}
.produtos li:hover h2{
    font-size: 32px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.produto-descricao{
    font-size: 18px;
}
footer{
    text-align: center;
    background: url(../images/bg.jpg);
    padding: 40px 0;
}
.copyright{
    font-size: 13px;
    color: white;
    margin-top: 20px;
}
main{
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
}
/* no css a gente pode definir os mesmos atributos para dois seletores diferentes com a virgula */
.input-padrao{
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    /*transition define o tempo para a transformacao*/
    transition: 1s;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    /*transform serve para tranformar o elemento em alguma nova definicao como tamanho e etc*/
    transform: scale(1.2) ;
    /*scale faz com que o tamanho so objeto aumente sua scala em 1.2, ou seja tudo que tem dentro aumenta 1.2*/
  
}

table{
    margin: 20px 40px;
}
table thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}
