<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Produtos - Barbearia Alura</title>
        <link rel="stylesheet" href="../assets/css/reset.css">
        <link rel="stylesheet" href="../assets/css/produtos.css">
    </head>
    <body>
        <header>
            <div class="caixa">
                <h1>
                    <img src="../assets/images/logo.png" alt="Logo Barbearia">
                </h1>
                <!-- nav é uma tag criada para exemplificar que o que esta dentro dela serve para a navegacao do site -->
                <nav>
                    <ul>
                        <li><a href="../templates/index.html">Home</a></li>
                        <li><a href="../templates/produtos.html">Produtos</a></li>
                        <li><a href="#">Contatos</a></li>
                    </ul>
    
                </nav>
            </div>
        </header>
        <main>

        </main>
        
    </body>
</html>